.dropdown-menu{
  background-color: black;
  color: white;
}
.navbar-custom .nav li a{
  color: white;
}
@media only screen and (max-width: 680px) {
    .navbar-custom .nav li a {
        color: white;
	}
  .carousel-caption>img {
    width: 300px;
    margin-left: -16px;
  }
  #notmobile{
    display: none;
  }
}
